<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.zcool.avr.template</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>Template d&apos;un projet AVR en C</string>
	<key>SorterOrder</key>
	<integer>1</integer>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>AllowedTypes</key>
	<array>
		<string>public.c-header</string>
		<string>public.c-source</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>main.c</key>
		<dict>
			<key>Path</key>
			<string>main.c</string>
			<key>Group</key>
			<array>
				<string>src</string>
			</array>
		</dict>
		<key>Makefile</key>
		<dict>
			<key>Path</key>
			<string>Makefile</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>LICENSE.txt</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>LICENSE.txt</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>main.c</string>
		<string>Makefile</string>
		<string>LICENSE.txt</string>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
		<key>SharedSettings</key>
		<dict>
			<key>PATH</key>
			<string>$(PATH):$(PROJECT_DIR)</string>
			<key>HEADER_SEARCH_PATHS</key>
			<array>
				<string>/usr/local/lib/gcc/avr/4.9.2/include</string>
				<string>/usr/local/lib/gcc/avr/4.9.2/include-fixed</string>
				<string>/usr/local/lib/gcc/avr/4.9.2/../../../../avr/include</string>
			</array>
			<key>PRODUCT_NAME</key>
			<string>$(TARGET_NAME)</string>
			<key>CLANG_WARN_DOCUMENTATION_COMMENTS</key>
			<string>YES</string>
			<key>__DOXYGEN__</key>
			<string>1</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>All</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolArgsString</key>
			<string>all -C &quot;$(PROJECT)&quot;</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Build</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>BuildToolArgsString</key>
			<string>clean build -C &quot;$(PROJECT)&quot;</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Upload</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>BuildToolArgsString</key>
			<string>clean build program -C &quot;$(PROJECT)&quot;</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Clean</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>BuildToolArgsString</key>
			<string>clean -C &quot;$(PROJECT)&quot;</string>
		</dict>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.tool</string>
			<key>Name</key>
			<string>Index</string>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict/>
				<key>Release</key>
				<dict/>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Nom du projet:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>Nom du projet</string>
			<key>EmptyReplacement</key>
			<string>NomProjet</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>organizationName</string>
			<key>Name</key>
			<string>Auteur:</string>
			<key>Description</key>
			<string>Nom de l&apos;auteur</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>___FULLUSERNAME___</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>atmega324p</string>
			<key>Description</key>
			<string>Microcontroller</string>
			<key>Identifier</key>
			<string>MCU</string>
			<key>Name</key>
			<string>MCU</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>atmega324p</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>Configurations</key>
						<dict>
							<key>Debug</key>
							<dict>
								<key>GCC_PREPROCESSOR_DEFINITIONS</key>
								<string>DEBUG=1, __AVR_ATmega324P__, F_CPU=___VARIABLE_F_CPU___</string>
							</dict>
							<key>Release</key>
							<dict>
								<key>GCC_PREPROCESSOR_DEFINITIONS</key>
								<string>__AVR_ATmega324P__, F_CPU=___VARIABLE_F_CPU___</string>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Default</key>
			<string>avrispmkII</string>
			<key>Description</key>
			<string>Programmer</string>
			<key>Identifier</key>
			<string>PROGRAMMER</string>
			<key>Name</key>
			<string>Programmer</string>
			<key>SortOrder</key>
			<integer>2</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>avrispmkII</key>
				<dict/>
			</dict>
		</dict>
		<dict>
			<key>Default</key>
			<string>cu.usbmodem*</string>
			<key>Description</key>
			<string>Serial Port (for serial programmer)</string>
			<key>Identifier</key>
			<string>SERIAL_PORT</string>
			<key>Name</key>
			<string>Serial Port</string>
			<key>SortOrder</key>
			<integer>3</integer>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>16000000</string>
			<key>Description</key>
			<string>MCU frequence (in Hz)</string>
			<key>Identifier</key>
			<string>F_CPU</string>
			<key>Name</key>
			<string>Frequency</string>
			<key>SortOrder</key>
			<integer>4</integer>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
</dict>
</plist>
